
DOMAIN_NAME=""

#mariaDB

MARIADB_ROOT_PASSWORD=""
DB_USER=""
DB_USER_PASSWORD=""
DB_NAME="" 


#wordpress NO SPACES
WP_TITLE=""
WP_ADMIN_USER=""
WP_ADMIN_PASSWORD=""
WP_ADMIN_EMAIL=""
WP_USER=""
WP_USER_EMAIL=""
WP_USER_PASSWORD=""