# MARIADB
MYSQL_HOST=mariadb
MYSQL_ROOT_PASSWORD=password

# WORDPRESS
WORDPRESS_DB_NAME=wordpress
WORDPRESS_DB_USER=smorphet
WORDPRESS_DB_PASSWORD=password

WORDPRESS_TITLE=Inception
WORDPRESS_ADMIN_USER=smorphetADMIN
WORDPRESS_ADMIN_PASSWORD=password
WORDPRESS_ADMIN_EMAIL=smorphet@student.42.fr

WORDPRESS_USER=smorphet
WORDPRESS_PASSWORD=password
WORDPRESS_EMAIL=smorphet@student.42.fr

# DOMAIN
DOMAIN_NAME=smorphet.42.fr

#MYSQL setup

MYSQL_HOSTNAME=mariadb
MYSQL_DATABASE=wordpress
MYSQL_USER=llescure
MYSQL_PASSWORD=new1234
MYSQL_ROOT_PASSWORD=root4life
